<div class="modal">
    <form name="noteForm">

        <ion-content>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Visit Date</span>
                    <input type="date" ng-model="note.date" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Notes</span>
                    <textarea rows="10" cols="5" ng-model="note.content" required></textarea>
                </label>
            </div>
        </ion-content>

        <ion-header-bar class="bar-secondary">
            <button class="button button-clear" ng-click="closeNoteModal()">Cancel</button>
            <h1 class="title">{{ (note.date | date:'mediumDate') || 'New Note' }}</h1>
            <button ng-disabled="!noteForm.$valid" class="button button-clear" ng-click="saveNote()">Save</button>
        </ion-header-bar>

    </form>
</div>