<div class="modal">
    <form name="practitionerForm">

        <ion-content>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" ng-model="practitioner.name" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Specialty</span>
                    <input type="text" ng-model="practitioner.specialty" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Phone</span>
                    <input type="tel" ng-model="practitioner.phone">
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" ng-model="practitioner.email">
                </label>
            </div>
        </ion-content>

        <ion-header-bar class="bar-secondary">
            <button class="button button-clear" ng-click="closePractitionerModal()">Cancel</button>
            <h1 class="title">{{ practitioner.name || 'New Practitioner' }}</h1>
            <button ng-disabled="!practitionerForm.$valid" class="button button-clear" ng-click="savePractitioner()">Save</button>
        </ion-header-bar>

    </form>
</div>